@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	transition: all 0.5s;
	--text: black;
	--bg1: gray;
	--bg2: white;
	font-family: 'IBM Plex Mono', monospace;
	font-size: medium;
	color: var(--text);
	background-color: var(--bg1);
}

a {
	color: var(--text);
	text-decoration: underline dashed;
}

.separator {
	border-top: 1px solid var(--text);
	padding: 1px;
	border-bottom: 1px solid var(--text);
}

.minorseparator {
	border-top: 1px solid var(--text);
}

a:hover {
	color: var(--bg1);
}

.img-disp .imgs {
	display: flex;
}

.img-disp {
	font-size: x-small;
	text-align: center;
}

img {
	max-width: 30%;
	display: block;
	margin: auto;
	border: 2px solid var(--text);
	box-shadow: 2px 2px 0px var(--text);
}

.material-symbols-outlined:hover {
	user-select: none;
	color: var(--bg1);
	font-variation-settings:
		'FILL' 1,
		'wght' 600,
		'GRAD' 0,
		'opsz' 48;
}

.dark-selector {
	cursor: pointer;
}

.buttons {
	background-color: var(--bg2);
	margin: 10px auto 5px auto;
	padding: 10px 25px;
	border: 2px solid;
	box-shadow: 2px 2px 0px var(--text);
	width: 70vw;
	max-width: 800px;
}

.buttons .material-symbols-outlined {
	margin-top: 5px;
}

.buttons .links {
	margin-top: 5px;
	float: right;
}

.container {
	background-color: var(--bg2);
	margin: 5px auto 5px auto;
	padding: 25px;
	border: 2px solid;
	box-shadow: 2px 2px 0px var(--text);
	width: 70vw;
	max-width: 800px;
}

.headerflair h4 {
	font-size: small;
	margin-top: 10px;
}

.headerflair h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.headerflair h3 {
	width: 300px;
	border-top: dashed 1px var(--text);
	border-bottom: dashed 1px var(--text);
	display: block;
	padding: 0px;
	text-align: center;
	margin: auto;
}

.headerflair p {
	font-size: smaller;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.brief {
	font-size: small;
	margin: 5px 0px;
}

.brief span {
	float: right;
}

.footer {
		background-color: var(--bg2);
		margin: 5px auto 10px auto;
		padding: 10px 25px;
		border: 2px solid;
		box-shadow: 2px 2px 0px var(--text);
		width: 70vw;
		max-width: 800px;
	}

@media screen and (max-width: 600px) {
	.container {
		width: 90vw;
		padding: 10px;
	}

	.buttons {
		width: 90vw;
		padding: 10px;
	}

	.footer {
		width: 90vw;
		padding: 10px;
	}

	.brief span {
		float: none;
	}
}